body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: lightblue;
    
}
header {
    background: lightgrey;
    color: black ;
    padding: 20px;
    text-align: center;
    image-rendering: crisp-edges;
}

h1{
    color: black;
}

h2{
    color:black ;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    top: 10px;
}
p{
    color: black;
}
nav ul {
    list-style: armenian;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: brown;
    text-decoration: gray;
}

section {
    padding: 20px;
}

.education {
    margin-bottom: 20px;
    border: 1px black;
    padding: 15px;
}
